.toast{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #28a745;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: .3s;
    z-index: 99999;
    pointer-events: none;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
}

.toast.mostrar{
    opacity: 1;
    transform: translateY(0);
}

.toast.erro{
    background: #dc3545;
}