

.popup-notificacao{
    position: absolute;
    top: 45px;
    right: 0;
    width: 360px;
    max-height: 450px;
    overflow-y: auto;

    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.15);

    display: none;
}

.popup-notificacao.ativo{
    display: block;
    animation: aparecer .25s ease;
}

.popup-header{
    padding: 18px;
    border-bottom: 1px solid #eee;
}

.popup-header h4{
    margin: 0;
    color: #888787;
}

.popup-body{
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-notificacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    padding: 14px 16px;

    background: #fff;
    border-radius: 12px;

    border: 1px solid #ececec;

    transition: all .25s ease;
}

.item-notificacao:hover{
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,.12);
}

.nao-lida{
   
    background: #fffaf5;
}

.btnExcluir{
    background: transparent;
    border: none;

    color: #FF7F27;
    font-size: 22px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

.btnExcluir:hover{
    color: #ff5b00;
    transform: scale(1.15);
}
.item-notificacao span{
    flex: 1;
    color: #444;
    line-height: 1.4;
    font-size: 14px;
}