################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################
/DesapegaSenai/.vs/DesapegaSenai/FileContentIndex
/DesapegaSenai/DesapegaSenai/obj
/DesapegaSenai/.vs
/DesapegaSenai/DesapegaSenai/bin
