################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################
/DesapegaSenai/DesapegaSenai/obj
/DesapegaSenai/DesapegaSenai/bin
/DesapegaSenai/.vs
