body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
   
}

/* Tela de login*/

.Login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.Card{
    width: 300px;
    padding: 24px;
    background: white;

    border-radius: 12px;
    box-shadow: 0 4px 5px #a8a8a8; 
    
    justify-content: center;
    align-content: center;
    display: flex;
    border: 1px solid #005CAA;
    flex-direction: column;
    
}
.campo{
    margin-bottom: 15px;

}
.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight:bold ;
    
}

.campo input{
    width: 100%;
    padding: 16px 12px;
    height: 20px;
    box-sizing: border-box;
    
    border-radius: 20px;
    border: 1px solid #005CAA;
}


.botao {
    width: 100%;
    padding: 14px 0;          
    display: flex;
    align-items: center;      
    justify-content: center;  

    background-color: #FF7F27;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.botao:hover {
    background-color:#005CAA;
}

 .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    height: auto;
    margin-bottom: 20px
 }

 .google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.2s;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background: #0056b6;
}

 
