body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
   
}

/* Tela de login*/

.Login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
}

.Card{
    width: 300px;
    padding: 24px;
    background: white;

    border-radius: 12px;
    box-shadow: 0 4px 5px #a8a8a8; 
    
    justify-content: center;
    align-content: center;
    display: flex;
    border: 1px solid #005CAA;
    flex-direction: column;
    
}

.campo{
    margin-bottom: 15px;

}

.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight:bold ;
    
}

.campo input{
    width: 100%;
    padding: 16px 12px;
    height: 20px;
    box-sizing: border-box;
    
    border-radius: 20px;
    border: 1px solid #005CAA;
}

.botao {
    width: 100%;
    padding: 14px 0;          
    display: flex;
    align-items: center;      
    justify-content: center;  

    background-color: #FF7F27;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.botao:hover {
    background-color:#005CAA;
}

 .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    height: auto;
    margin-bottom: 20px
 }

 .google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.2s;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background: #0056b3;
}

h2 {
 text-align: center;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;         
  margin-top: 16px;
  font-size: 14px;
}

.cadastro a {
  color: #1a5cff;
  text-decoration: none;
  font-weight: 500;
}

.cadastro a:hover {
  text-decoration: underline;
}

/* TELA PRINCIPAL*/


/* menu topo */
.page {
  width: 100%;
  box-shadow: 0 1px #ddd;
  
}

.logo2 img {
  margin-right: auto; 
  gap: 30px;    

}

.menu { 
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid #a8a8a8; 
  width: 1vh;
  padding: 1vh;
  color: #a8a8a8;
}

.menu a:hover{
  color: #005CAA;
  border-color: #0056b3;

}

.menu input{
  border:1px solid #a8a8a8;
  border-radius: 20px;
  padding: 0.5vw;
  outline: none;
  width: 300px;

}

.menu input:hover{
  border-color: #0056b3;
  outline: none;
}

.container {
  max-width: 1500px;   /* mesma largura do site */
  margin: 0 auto;      /* centraliza */
  padding: 10px;
  gap: 0px;

  display: flex;
  align-items: center;
}

/* categoria */

.corcinza{
  color: #a8a8a8;
}
 .ajuste1{
  display: grid;
  justify-content: center;
   
 }

.ajuste{
  display: flex;
  gap: 30px;
  
}

.categoria{
    width: 100px;
    padding: 18px;
    background: #0056b3;
  
    border-radius: 12px;
    box-shadow: 0 4px 5px #a8a8a8; 
     
    display: flex;
    border: 1px solid #005CAA;
    flex-direction: column;     
}

.categoria a{
  text-decoration: none;
  color: white;
}

/* slider*/
.interface {
  max-width: 1288px;
  padding: 0 4%;
  height: 400px;
}


 .slider{
  
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 2px auto;


  border: 2px solid #0056b3;
  border-radius: 18px ;
 }


 .slider-box{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.5s;
 }

.slider-box.ativo{
  opacity: 1;
 }

.slider-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }


/* botão de navegação*/
.btn-nav-box{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;


  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;


}
.btn-nav-box .btn-nav{
  width: 30px;
  height: 5px;
  border:  1px solid #FF7F27;
  border-radius: 8px;
}
.btn-nav-box .btn-nav:hover{
  background-color: #FF7F27;
}
.btn-nav-box .btn-nav.ativo{
  background-color: #FF7F27;
}

.botoes {
  position: absolute;
  bottom: 20px;  
  right: 20px;    
}

.btn-inscrever {
  border: 1px solid #0056b3;
  color: #0056b3;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: #fff;
}

.btn-inscrever:hover { 
   padding: 15px 29px;
}

.btn-escreva {
  margin-top: 15px;
}


.botaoes a{
text-decoration: none;
color: #0056b3;
}



.caixinha{
    height: 200px;
    width: 300px;
    
    background: #ffffff;     
    display: flex;
   
    flex-direction: column;     
}

.caixinha img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.ajuste3{
 display: flex;
  gap: 30px;
 
}

.meses{
  width: 80px;
  background: #ffd6bb; 
  font-size: 12px;
  padding: 2px 2px;
  border-radius: 999px; 
}    


.meses h4{
  text-decoration: none;
  color: #FF7F27;
  text-align: center;
}
/*Tela produto*/



.box-produto {
    width: 480px;
    border: 2px solid #3b82f6;
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
}

.produto {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.produto img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.info h2 {
    color: #2563eb;
    margin-bottom: 6px;
}

.info p {
    font-size: 14px;
    color: #555;
}

.titulo-info {
    margin-bottom: 10px;
    font-size: 16px;
}

.input-info {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #3b82f6;
    outline: none;
}

.kkk{
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.chat-container {
  width: 360px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.chat-header {
  background: #eee;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.contact-name {
  font-weight: bold;
  font-size: 16px;
}


.messages {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
}


.message {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 20px;
  margin-bottom: 12px;
  font-size: 14px;
}

.andre {
  background: #e0e0e0;
  align-self: flex-start;
}

.user {
  background: #1e3a8a;
  color: #fff;
  align-self: flex-end;
  margin-left: auto;
}

.status {
  font-size: 12px;
  color: gray;
  text-align: right;
  margin-top: -5px;
  margin-bottom: 10px;
}


.input-area {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 6px;
}

.input-area input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.input-area .camera {
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.input-area .send {
  background: orange;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-radius: 50%;
}
