body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
   
}

/* Tela de login*/

.Login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
}

.Card{
    width: 300px;
    padding: 24px;
    background: white;

    border-radius: 12px;
    box-shadow: 0 4px 5px #a8a8a8; 
    
    justify-content: center;
    align-content: center;
    display: flex;
    border: 1px solid #005CAA;
    flex-direction: column;
    
}

.campo{
    margin-bottom: 15px;

}

.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight:bold ;
    
}

.campo input{
    width: 100%;
    padding: 16px 12px;
    height: 20px;
    box-sizing: border-box;
    
    border-radius: 20px;
    border: 1px solid #005CAA;
}

.botao {
    width: 100%;
    padding: 14px 0;          
    display: flex;
    align-items: center;      
    justify-content: center;  

    background-color: #FF7F27;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.botao:hover {
    background-color:#005CAA;
}

 .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    height: auto;
    margin-bottom: 20px
 }

 .google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.2s;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background: #0056b3;
}

h2 {
 text-align: center;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;         
  margin-top: 16px;
  font-size: 14px;
}

.cadastro a {
  color: #1a5cff;
  text-decoration: none;
  font-weight: 500;
}

.cadastro a:hover {
  text-decoration: underline;
}

/* TELA PRINCIPAL*/


/* menu topo */
.page {
  width: 100%;
  box-shadow: 0 1px #ddd;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 440px;
  padding: 10px;
  justify-content: center;
}

.logo2 img {
  width: 40px;     

}

.menu { 
  display: flex;
  gap: 30px;
}

.menu a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #a8a8a8; 
  width: 1vh;
  padding: 1vh;
  color: #a8a8a8;
}

.menu a:hover{
  color: #005CAA;
  border-color: #0056b3;

}

.menu input{
  border:1px solid #a8a8a8;
  border-radius: 20px;
  padding: 0.5vw;

}

.menu input:hover{
  border-color: #0056b3;
}

/* categoria */
h3{
  color: #a8a8a8;
}
 .ajuste1{
  display: grid;
  justify-content: center;
   
 }

.ajuste{
  display: flex;
  gap: 30px;
  
}

.categoria{
    width: 100px;
    padding: 18px;
    background: #0056b3;
  
    border-radius: 12px;
    box-shadow: 0 4px 5px #a8a8a8; 
     
    display: flex;
    border: 1px solid #005CAA;
    flex-direction: column;     
}

.categoria a{
  text-decoration: none;
  color: white;
}

/* slider*/
.interface {
  max-width: 1288px;
  padding: 0 4%;
  height: 400px;
}


 .slider{
  
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 2px auto;


  border: 2px solid #0056b3;
  border-radius: 18px ;
 }


 .slider-box{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.5s;
 }

.slider-box.ativo{
  opacity: 1;
 }

.slider-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }


/* botão de navegação*/
.btn-nav-box{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;


  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;


}
.btn-nav-box .btn-nav{
  width: 30px;
  height: 5px;
  border:  1px solid #FF7F27;
  border-radius: 8px;
}
.btn-nav-box .btn-nav:hover{
  background-color: #FF7F27;
}
.btn-nav-box .btn-nav.ativo{
  background-color: #FF7F27;
}

 
.botaoes{
    width: 100px;
    padding: 10px;
    background: #ffffff;
  
    border-radius: 12px;
    box-shadow: 0 4px 5px #a8a8a8; 
    
    display: flex;
    border: 1px solid #005CAA;
    flex-direction: column;
    position: absolute;
  
    justify-content: flex-end;
}

.botaoes a{
text-decoration: none;
color: #0056b3;
}