body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: white;
}

/* Tela de login*/

.Login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
}

.Card{
  width: 300px;
  padding: 24px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 5px #a8a8a8; 
    
  justify-content: center;
  align-content: center;
  display: flex;
  border: 1px solid #005CAA;
  flex-direction: column;  
}

.campo{
    margin-bottom: 15px;
    position: relative;

}

.campo label{
    display: block;
    margin-bottom: 5px;
    font-weight:bold ;
    
}

.campo input{
  width: 100%;
  padding: 16px 12px;
  height: 20px;
  box-sizing: border-box;
    
  border-radius: 20px;
  border: 1px solid #005CAA;
  outline: 0;
}

.campo.success input{
   border: 1.5px solid #4ECA64;
}

.campo.error input {
    border: 1.5px solid #DB5A5A;
}

.campo small {
    
   visibility: hidden;
    margin-top: 3px;
    font-size: 14px;
}

.campo.error small{
  color: #DB5A5A;
  visibility: visible;
}

.ri-eye-line {
  position: absolute;
  top: 41px;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  color: #858585;
}

.ri-eye-off-line{
  position: absolute;
  top: 41px;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  color: #858585;
}

.botao {
    width: 100%;
    padding: 14px 0;          
    display: flex;
    align-items: center;      
    justify-content: center;  

    background-color: #FF7F27;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.botao:hover {
    background-color:#005CAA;
}

 .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 300px;
    height: auto;
    margin-bottom: 20px
 }

 .google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: 0.2s;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background: #0056b3;
}

h2 {
 text-align: center;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;         
  margin-top: 16px;
  font-size: 14px;
}

.cadastro a {
  color: #1a5cff;
  text-decoration: none;
  font-weight: 500;
}

.cadastro a:hover {
  text-decoration: underline;
}

/* tela de filtro*/

.input-selct{
  width: 100%;
  max-width: 150px;
  height: 30px;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid #3b82f6;
  outline: none;
}


/* menu topo */
.faixatopo{
  background-color: #0056b3;
}
.page {
  width: 100%;
  box-shadow: 0 1px #ddd;
}

.logo2 img {
  margin-right: auto; 
  gap: 30px;    

}

.menu { 
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  margin-right: 15px;
  border-radius: 10px;
  border: 1px solid #a8a8a8; 
  width: 1vh;
  padding: 1vh;
  color: #a8a8a8;
}

.menu a:hover{
  color: #005CAA;
  border-color: #0056b3;

}

.menu input{
  border:1px solid #a8a8a8;
  border-radius: 20px;
  padding: 0.5vw;
  outline: none;
  width: 300px;

}

.menu input:hover{
  border-color: #0056b3;
  outline: none;
}

.container {
  max-width: 1500px;   /* mesma largura do site */
  margin: 0 auto;      /* centraliza */
  padding: 10px;
  gap: 0px;

  display: flex;
  align-items: center;
 
}

/* categoria */

.corcinza{
  color: #a8a8a8;
}
 .ajuste1{
  display: grid;
  justify-content: center;
   
 }

.ajuste{
  
  gap: 30px;
   display: flex;
  justify-content: center; /* CENTRALIZA */
  flex-wrap: wrap; /* quebra linha se faltar espaço */
  
}

.categoria{
    width: 100px;
    padding: 18px;
    background: #0056b3;
  
    border-radius: 12px;
    box-shadow: 0 4px 5px #a8a8a8; 
     
    display: flex;
    border: 1px solid #005CAA;
    flex-direction: column;     
}

.categoria a{
  text-decoration: none;
  color: white;
}

/* slider*/
.interface {
  max-width: 1288px;
  padding: 0 4%;
  height: 400px;
}


 .slider{
  
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 40px auto;
 max-width: 100%;

  border: 2px solid #0056b3;
  border-radius: 18px ;
 }


 .slider-box{
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.5s;
 }

.slider-box.ativo{
  opacity: 1;
 }

.slider-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }


/* botão de navegação*/
.btn-nav-box{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;


  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;


}
.btn-nav-box .btn-nav{
  width: 30px;
  height: 5px;
  border:  1px solid #FF7F27;
  border-radius: 8px;
}
.btn-nav-box .btn-nav:hover{
  background-color: #FF7F27;
}
.btn-nav-box .btn-nav.ativo{
  background-color: #FF7F27;
}

.botoes {
  position: absolute;
  bottom: 20px;  
  right: 20px;    
}

.btn-inscrever {
  border: 1px solid #0056b3;
  color: #0056b3;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: #fff;
}

.btn-inscrever:hover { 
   padding: 15px 29px;
}

.btn-escreva {
  margin-top: 15px;
}


.botaoes a{
text-decoration: none;
color: #0056b3;
}



.caixinha{
    height: 200px;
    width: 300px;
    
    background: #ffffff;     
    display: flex;
   
    flex-direction: column;     
}

.caixinha img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.ajuste3{
 display: flex;
  gap: 30px;
 
}

.meses{
  width: 80px;
  height: 20px;
  background: #ffd6bb; 
  font-size: 12px;
  border-radius: 999px; 
  align-items: center;
}    


.meses h3{
  text-decoration: none;
  color: #FF7F27;
  text-align: center;
  width: auto;
  text-decoration: none;
}
/*Tela produto*/
.box-produto {
  width: 480px;
  border: 2px solid #3b82f6;
  border-radius: 20px;
  padding: 25px;
  margin: 40px auto;
  background-color: #f8f9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-upload {
  width: 180px;
  height: 150px;
  background-color: #c7d7ea;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  position: relative;
}

.photo-upload svg {
  width: 60px;
  stroke: #555;
  fill: none;
  stroke-width: 1.5;
}

.form-produto {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-produto label {
  margin-bottom: 10px;
  font-weight: 500;
}

.input-info {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  border: 1px solid #3b82f6;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.input-info:focus {
  border-color: #0056b3;
}

textarea.input-info {
  height: 90px;
  resize: none;
}
.kkk{
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.chat-container {
  width: 360px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.chat-header {
  background: #eee;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.contact-name {
  font-weight: bold;
  font-size: 16px;
}


.messages {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
}


.message {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 20px;
  margin-bottom: 12px;
  font-size: 14px;
}

.andre {
  background: #e0e0e0;
  align-self: flex-start;
}

.user {
  background: #1e3a8a;
  color: #fff;
  align-self: flex-end;
  margin-left: auto;
}

.status {
  font-size: 12px;
  color: gray;
  text-align: right;
  margin-top: -5px;
  margin-bottom: 10px;
}


.input-area {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 6px;
}

.input-area input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 14px;
  outline: none;
}

.input-area .camera {
  background: none;
  border: none;
  font-size: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.input-area .send {
  background: orange;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-radius: 50%;
}


main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 0 2vw;
}
.fotos{
  width: 260px;
  height: 250px;
  border: 0px solid #FFF;
  box-shadow: 5px 5px 5px rgba(197, 197, 197, 0.4);
  flex-grow: 1;
  transition: transform .5s linear;
  border-radius: 40px;
  text-decoration: none;
  color: #000;
  margin-bottom: 50px;
}
.fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}


.fotos:hover{
    transform: scale(1.1);

}

.meses{
  width: 80px;
  height: 20px;
  background: #ffd6bb; 
  font-size: 12px;
  border-radius: 999px; 
  align-items: center;
}    
.meses h3{
text-decoration: none;

}


.meses h3{
  text-decoration: none;
  color: #FF7F27;
  text-align: center;
  width: auto;
  text-decoration: none;
}



/* perfil*/

.all{
 
  max-width: 1494px;
  margin: 0px auto;
  padding: 20px;
}

 .logoperfil{
  background-color: #FF7F27;
  height: 200px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 40px auto;
  max-width: 100%;
  border-radius: 18px ;
 }


.perfil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 20px;
  border-radius: 20px;
  margin-top: -40px; 
}


.perfil-esquerda {
  display: flex;
  align-items: center;
  gap: 20px;
}


.fotoperfil {
  padding: 20px;
  width: 90px;
  height: 90px;
  background-color: #ccc;
  border-radius: 50%;
  border: 4px solid white;
}


.info h2 {
  margin: 0;
  color: #000;
}

.info p {
  margin: 5px 0 0 0;
}


.perfil-direita {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.seguidores {
  border: 1px solid #a0a0a0;
  background: #ffffff;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  color:#a0a0a0 ;
}

.editar {
  padding: 6px 15px;
  border-radius: 10px;
  border: 1px solid #aaa;
  background: white;
  cursor: pointer;
}
 .editar a:hover{
color: #0056b3;
border-color: #0056b3;
}


.ajuste5{
  margin-left: auto;
}



.container-produtos{
    display:flex;
    gap:30px;
    padding:30px;
}


.box{
    background:#fff;
    border:2px solid #0056b3;
    border-radius:20px;
    padding:20px;
    width:50%;
}

.box h3{
    margin-bottom:15px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr); /* 2 por linha */
    gap:20px;
}

.card{
    border:1px solid #0056b3;
    border-radius:15px;
    padding:15px;
    
}

.card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 40px;
}

.card p{
    margin-top:10px;
    font-size:14px;
}


/* POPUPS */

.notificacao-wrapper,
.chat-wrapper {
  position: relative;
}

.popup-notificacao,
.popup-chat {
  position: absolute;
  top: 45px;
  right: 0;
  width: 320px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  overflow: hidden;
  z-index: 5000;
}

.popup-notificacao.ativo,
.popup-chat.ativo {
  display: flex;
}

/* Cabeçalho */
.popup-header {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: #0056b3;
}

/* Corpo */
.popup-body {
  max-height: 300px;
  overflow-y: auto;
}

/* Notificação */
.notificacao-item,
.chat-item {
  padding: 12px 15px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.notificacao-item:hover,
.chat-item:hover {
  background: #f5f9ff;
}

.nao-lida {
  background: #eaf3ff;
}

.tempo {
  display: block;
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.chat-mensagens {
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mensagem {
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 80%;
  font-size: 13px;
}

.bot {
  background: #f1f1f1;
  align-self: flex-start;
}

.user-msg {
  background: #0056b3;
  color: white;
  align-self: flex-end;
}

.respostas-rapidas {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  border-top: 1px solid #eee;
}

.respostas-rapidas button {
  padding: 6px;
  border-radius: 20px;
  border: 1px solid #0056b3;
  background: white;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
}

.respostas-rapidas button:hover {
  background: #0056b3;
  color: white;
}


.mensagens button {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #3b82f6;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.mensagens button.ativo {
  background: #FF7F27;
  color: white;
}

.botao2 {
    width: 100%;
    padding: 14px 0;          
    display: flex;
    align-items: center;      
    justify-content: center;  

    background-color: #FF7F27;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.botao2:hover {

background-color: #0056b3;
}
.ri-camera-line{
font-size: 50px;
color: #0056b3;
}

.ajuste6{
align-items: flex-end;
}

.produtocompras{
  width: 480px;
  height:500px;
  border: 2px solid #3b82f6;
  border-radius: 20px;
  margin: 40px auto;
  background-color: #f8f9fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}


.fotos2{
  height: 560px;
  border: 0px solid #FFF;
  flex-grow: 1;
  transition: transform .5s linear;
  border-radius: 40px;
  text-decoration: none;
  color: #000;
  margin-bottom: 50px;
}
.fotos2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}



.botao3 {
    width: 70%;
    padding: 14px 0;          
    display: flex;
    align-items: center;      
    justify-content: center;  

    background-color: #FF7F27;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.botao3:hover {

background-color: #0056b3;
}

.botao4 {
    width: 70%;
    padding: 14px 0;          
    display: flex;
    align-items: center;      
    justify-content: center;  
    background-color: #ffffff;
    color: #FF7F27;
    border: 1px solid #FF7F27;
    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
  
}

.produto {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.produto img {
    width: 500px; 
}

.letra{
  text-align: left;
}




.pagina-produto {
    width: 1200px;
    margin: 60px auto;
}

/* TOPO */
.produto-topo-area {
    display: flex;
    gap: 80px;
}

/* IMAGEM */
.produto-imagem-foto {
    width: 420px;
    border-radius: 25px;
}

/* CARD */
.produto-card-lateral {
    width: 350px;
    padding: 30px;
    border: 2px solid #2f5ea7;
    border-radius: 25px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.produto-titulo {
    color: #2f5ea7;
    margin: 0;
}

/* USUÁRIO */
.produto-usuario-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.produto-usuario-foto {
    width: 40px;
    height: 40px;
    background: #dcdcdc;
    border-radius: 50%;
}

.produto-botao-seguir {
    margin-left: auto;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #f58220;
    background: transparent;
    color: #f58220;
    cursor: pointer;
}

.produto-divisor {
    height: 1px;
    background: #ddd;
}

/* BOTÕES */
.produto-botao-principal {
    background: #f58220;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.produto-botao-chat {
    background: white;
    border: 2px solid #f58220;
    color: #f58220;
    padding: 14px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

/* PARTE INFERIOR */
.produto-inferior-area {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.produto-descricao-box {
    width: 420px;
}

.produto-info-box {
    flex: 1;
}

.produto-info-grid {
    display: flex;
    gap: 80px;
    margin-top: 20px;
}

.produto-linha-final {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    width: 500px;
}

/* RESPONSIVO */
@media (max-width: 1000px) {

    .pagina-produto {
        width: 90%;
    }

    .produto-topo-area {
        flex-direction: column;
        align-items: center;
    }

    .produto-inferior-area {
        flex-direction: column;
        gap: 40px;
    }

    .produto-descricao-box {
        width: 100%;
    }
}

p{
  color: #858585;
}





/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* MODAL */
.modal-troca {
  background: #fff;
  width: 500px;
  max-width: 90%;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

/* GRID ITENS */
.itens-usuario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 20px 0;
}

/* ITEM */
.item {
  border: 2px solid #eee;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.item img {
  width: 100%;
  border-radius: 8px;
}

.item:hover {
  border-color: #ff7a00;
}

.item.selecionado {
  border-color: #ff7a00;
  background: #fff3e8;
}

/* BOTÕES */
.acoes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-cancelar {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
}

.btn-enviar {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #ff7a00;
  color: #fff;
  cursor: pointer;
}